<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<form th:action="@{/product}" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td>Name</td>
            <td>
                <label>
                    <input type="text" name="name" required>
                </label>
            </td>
        </tr>
        <tr>
            <td>Description</td>
            <td>
                <label>
                    <textarea name="description" required></textarea>
                </label>
            </td>
        </tr>
        <tr>
            <td>Price</td>
            <td>
                <label>
                    <input type="number" name="price" required>
                </label>
            </td>
        </tr>
        <tr>
            <td>Category</td>
            <td>
                <label>
                    <select name="category" required>
                        <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}">
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Brand</td>
            <td>
                <label>
                    <select name="brand" required>
                        <option th:each="brand : ${brands}" th:value="${brand.name}" th:text="${brand.name}">
                        </option>
                    </select>
                </label>
            </td>
        </tr>
        <tr>
            <td>Image</td>
            <td><input type="file" name="image" required></td>
        </tr>

        <tr>
            <td>
                <button type="submit">Add product</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>